body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
}

.full-logo {
    display: flex;
    align-items: center;

}

ul {
    display: flex;
    list-style: none;
}

.logo {
    height: 30px;
    width: 60px;
}

.log-g {
    color: #FF42A5;
    font-size: 3rem;
    padding-left: 10px;
    font-weight: 700;
}

.logo-amar {
    font-size: 2.8rem;
}

ul>li {
    color: #3C354F;
    font-weight: 500;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.yt {
    color: red;
    padding-left: 16px;
    padding-right: 10px;
    font-size: 1.3rem;
}

.fa-tiktok {
    color: black;
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-left: 8px;
    padding-right: 8px;
}

/* Header Section Style End  */






/* Bannar Section Start */

.bannar {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    padding: 0px 150px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    background-image: url(images/Group\ 14.png);
    flex: 1;
}

.play-goat {
    text-align: center;
    width: 400px;
    padding-top: 130px;
}

.play-goat h2 {
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

.play-goat h1 {
    font-size: 4.2rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;

}

.play-goat p {
    font-weight: 500;
    color: #534C64;
    font-size: 1.1rem;
}

.button {
    margin-top: 30px;
}

.btn-singin {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 15px 30px;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    border: 0px;
}

.btn-rogue {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 15px 30px;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    border: 0px;
    margin-left: 10px;
    justify-content: space-between;
}



.got-img img {
    width: 100%;
}

/* Bannar Style End */






/* Gamer style Start */

.gamer-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    gap: 50px;
    padding: 0px 150px;
    justify-content: space-between;
}

.gamer-img img {
    width: 650px;
}

.gamer-details {
    text-align: end;
    color: #534C64;
}


/* END */





/* Careers Styles Start */


.careers-container{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
    padding-left: 150px;
    gap: 50px;
    color: white;
    margin-top: -200px;
    align-items: center;
}

.careers-double-colum{
    display: flex;
    justify-content: space-between;
}

.careers-right-text{
    text-align: right;
}

.careers-img img{
    width: 700px;
}






/* Online Games Style Start */

.online-games {
    margin: 100px 150px;
}

.online-games-text {
    text-align: center;
}

.online-games-text h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.online-games-text p {
    font-size: 1.1rem;
    color: #534C64;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem;
    font-weight: 700;
}

.online-games-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 50px;
}

.card-img img:hover {
    border: 5px solid #F948B2;
    border-radius: 10px;

}

.card-img img {
    width: 100%;
}

/* Online Games Style End */

.bannar-info {
    display: flex;
    margin: 100px 150px 0px 150px;
    justify-content: space-between;
    text-align: right;
}

.bannar-info-text {
    margin-right: 100px;
}

.bannar-info-text h2 {
    font-weight: 700;
    font-size: 3rem;
}

.bannar-info-text p {
    color: #534C64;
    font-weight: 1.1rem;
}

.play-inst {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 3rem;
}

.bannar-info-img .half-img {
    position: relative;
    right: 400px;
    bottom: 300px;
}

.bannar-right {
    text-align: start;
    margin-left: 100px;
}

.second-half-img {
    width: 100%;

}

/* More Games Style Start */

.container-games {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 100px 150px 0px;
    padding-bottom: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.more-games {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    
}

.game-card {
    display: flex;
    gap: 20px;
    padding: 10px;
    text-align: start;
    border-radius: 50px;
    background: #FFF;
    align-items: center;

}

.game-card img {
    height: 70%;
}

.game-card h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #0B0223;
}

.four-card {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
}

/* footer Style Start */


footer {
    background: #0B0223;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.logo-amar-color {
    color: white;
}

.footer-nav {
    display: flex;
}

.footer-nav li {
    color: white;
}

.footer-icon ul li {
    color: #FFF;
}

footer .fa-twitter {
    color: white;
}

.footer-condition ul li {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

.footer-copyright p {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}













/* Mobile Device Responsive Style Start */

@media screen and (max-width: 576px) {
    nav,
    .bannar,
    .gamer-container,
    .bannar-info,
    .careers-container
    {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        margin-top: -00px;
    }

    .gamer-img img {
        width: 100%;
    }
    .gamer-details{
        text-align: center;
    }
    .careers-container{
        margin-top: -400px;
    }
    .careers-img img{
        width: 100%;
    }

    .online-games-card{
        grid-template-columns: 1fr;
    }

    .online-games {
        margin: 10px;
    }
    .bannar-info{
        margin: 10px;
    }
    .bannar-info-text{
        margin: 10px;
        text-align: center;
    }
    .bannar-info-img img{
        width: 100%;
    }
    .more-games{
        grid-template-columns: repeat(2, 1fr);
    }
    .four-card{
        display: grid;
        padding: 50px;
    }
    .footer-nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-icon{
        flex-direction: none;
    }
    .footer-copyright p{
        text-align: center;
    }
}